@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..900&display=swap');

:root {
  --app-background-color: #f2f2f2;
  --body-color: #999999;
  --high-rating-message: #9335ff;
  --high-rating-thread: #27aae1;
  --low-rating: #e89d40;
  --white: #ffffff;
  --flex-display: flex;
  --fs-12: 12px;
  --fs-14: 14px;
  --fw-300: 300;
  --fw-700: 700;
  --fw-900: 900;
  --mb-5: 5px;
  --mb-10: 10px;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--app-background-color);
  color: var(--body-color);
  min-width: 320px;
  max-width: 768px;
  margin: auto;
  overflow-x: 320px;
}
